.hotel-search{

margin-top:-70px;

position:relative;

z-index:100;

display:flex;

justify-content:center;

}

.hotel-search-card{

width:92%;

max-width:1450px;

background:white;

border-radius:28px;

padding:28px;

display:flex;

align-items:center;

justify-content:space-between;

gap:25px;

box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.hotel-field{

flex:1;

display:flex;

align-items:center;

gap:15px;

}

.hotel-field input,
.hotel-field select{

width:100%;

border:none;

outline:none;

font-size:17px;

}

.hotel-divider{

width:1px;

height:60px;

background:#ddd;

}

.hotel-search button{

padding:18px 35px;

border:none;

border-radius:18px;

background:#FF7A00;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

display:flex;

gap:10px;

align-items:center;

transition:.3s;

}

.hotel-search button:hover{

background:#ff5d00;

}