.floating-ai{

position:fixed;

bottom:35px;

right:35px;

width:70px;

height:70px;

border:none;

border-radius:50%;

background:#FF8A00;

color:white;

font-size:28px;

cursor:pointer;

box-shadow:0 15px 35px rgba(0,0,0,.25);

transition:.3s;

z-index:999;

}

.floating-ai:hover{

transform:scale(1.1);

background:#ff6a00;

}