.section-title{
    margin:30px 0 20px;
    font-size:28px;
    color:#0F172A;
}

.quick-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:40px;

}

.quick-card{

background:white;

padding:30px;

border-radius:22px;

text-decoration:none;

color:#0F172A;

box-shadow:0 12px 30px rgba(0,0,0,.08);

transition:.35s;

}

.quick-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.quick-icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

margin-bottom:20px;

}

.quick-card h3{

margin-bottom:12px;

font-size:22px;

}

.quick-card p{

color:#64748B;

line-height:1.6;

}

@media(max-width:1100px){

.quick-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.quick-grid{

grid-template-columns:1fr;

}

}