.sidebar{

position:fixed;

left:0;

top:0;

width:260px;

height:100vh;

background:#0F172A;

padding:30px 20px;

display:flex;

flex-direction:column;

color:white;

}

.sidebar-logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:50px;

}

.sidebar-logo svg{

font-size:35px;

color:#FF8A00;

}

.sidebar-logo h2{

margin:0;

font-size:28px;

}

.sidebar-logo span{

font-size:13px;

color:#CBD5E1;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:12px;

}

.menu-item{

display:flex;

align-items:center;

gap:15px;

padding:15px;

border-radius:12px;

text-decoration:none;

color:white;

font-size:17px;

transition:.3s;

cursor:pointer;

}

.menu-item:hover{

background:#1E293B;

color:#FF8A00;

}

.logout-btn{

margin-top:auto;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

padding:15px;

background:#FF8A00;

color:white;

border:none;

border-radius:15px;

cursor:pointer;

font-size:17px;

transition:.3s;

}

.logout-btn:hover{

background:#ff6b00;

}