.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.search-box{

display:flex;

align-items:center;

gap:10px;

background:white;

padding:15px 20px;

border-radius:50px;

width:420px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.search-box input{

border:none;

outline:none;

width:100%;

font-size:16px;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

.top-icon{

font-size:24px;

cursor:pointer;

}

.profile{

font-size:38px;

color:#FF8A00;

cursor:pointer;

}