.featured-hotels{
    padding:90px 8%;
    background:#F8FAFC;
}

.hotel-title{
    text-align:center;
    margin-bottom:55px;
}

.hotel-title span{
    color:#FF7A00;
    font-weight:700;
    letter-spacing:2px;
}

.hotel-title h2{
    font-size:50px;
    margin:15px 0;
    color:#0F172A;
}

.hotel-title p{
    color:#64748B;
    font-size:18px;
}

.featured-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:35px;
}

.featured-card{
    background:white;
    border-radius:28px;
    overflow:hidden;
    transition:.35s;
    box-shadow:0 20px 45px rgba(0,0,0,.08);
}

.featured-card:hover{
    transform:translateY(-10px);
    box-shadow:0 30px 60px rgba(0,0,0,.15);
}

.featured-image{
    position:relative;
    height:260px;
    overflow:hidden;
}

.featured-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.featured-card:hover img{
    transform:scale(1.08);
}

.heart-btn{
    position:absolute;
    top:18px;
    right:18px;
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:white;
    cursor:pointer;
    color:#FF4D6D;
    font-size:18px;
}

.hotel-price{
    position:absolute;
    left:18px;
    bottom:18px;
    background:#FF7A00;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    font-weight:600;
}

.featured-content{
    padding:28px;
}

.hotel-rating{
    color:#F4B400;
    display:flex;
    gap:8px;
    align-items:center;
    font-weight:600;
}

.featured-content h3{
    margin:18px 0 10px;
    font-size:28px;
}

.featured-content p{
    display:flex;
    gap:8px;
    align-items:center;
    color:#64748B;
}

.amenities{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
    margin:25px 0;
}

.amenities span{
    background:#EEF2FF;
    padding:8px 15px;
    border-radius:25px;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
}

.book-btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:40px;
    background:#0F172A;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.book-btn:hover{
    background:#FF7A00;
}