.flights-page-wrapper {
  background-color: var(--bg-dark);
  min-height: 100vh;
  color: var(--text-main);
}

.flight-results-layout {
  width: 92%;
  max-width: 1440px;
  margin: 60px auto 100px auto;
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 35px;
  align-items: start;
  position: relative;
  z-index: 10;
}

@media(max-width: 1100px) {
  .flight-results-layout {
    grid-template-columns: 1fr;
  }
}