.chat-section{

background:#F8FAFC;

padding:80px 0;

display:flex;

justify-content:center;

}

.chat-window{

width:90%;

max-width:1000px;

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:0 20px 50px rgba(0,0,0,.12);

}

.chat-header{

padding:25px 35px;

background:#0F172A;

display:flex;

align-items:center;

gap:18px;

color:white;

}

.robot-icon{

font-size:40px;

color:#FF7A00;

}

.chat-header h2{

margin:0;

font-size:26px;

}

.chat-header span{

color:#CBD5E1;

font-size:14px;

}

.messages{

padding:35px;

min-height:420px;

background:#F8FAFC;

}

.ai-message{

max-width:70%;

background:white;

padding:22px;

border-radius:18px;

line-height:1.8;

font-size:17px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.chat-input{

display:flex;

padding:25px;

background:white;

gap:15px;

border-top:1px solid #eee;

}

.chat-input input{

flex:1;

padding:18px;

font-size:17px;

border:1px solid #ddd;

border-radius:14px;

outline:none;

}

.chat-input button{

width:70px;

border:none;

border-radius:14px;

background:#FF7A00;

color:white;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.chat-input button:hover{

background:#ff5500;

}
.user-message{

margin-left:auto;

margin-bottom:20px;

max-width:70%;

background:#FF7A00;

color:white;

padding:18px;

border-radius:18px;

line-height:1.7;

}

.trip-card{

margin-top:25px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.trip-card h2{

color:#0F172A;

margin-bottom:20px;

}

.trip-card h4{

margin-top:20px;

color:#FF7A00;

}

.trip-buttons{

display:flex;

gap:15px;

margin-top:25px;

}

.trip-buttons button{

padding:14px 25px;

border:none;

border-radius:12px;

cursor:pointer;

background:#FF7A00;

color:white;

font-weight:600;

transition:.3s;

}

.trip-buttons button:hover{

background:#0F172A;

}